.button {
    width: fit-content;
    height: fit-content;
    padding: 10px 15px;

    color: #fff;
    background: #003f75;
    border: 1px solid #003f75;
    border-radius: 10px;

    transition: background 0.3s ease-in-out, border 0.3s ease-in-out;

    &:hover {
        background: #035faf;
        border-color: #035faf;
        cursor: pointer;
        transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
    }

    &:focus, &:focus-visible {
        outline: none;
    }
}