.main {
    position: relative;
}

.input {
    width: 250px;
    padding: 10px 5px;
    border: 1px solid #8a8989;
    border-radius: 10px;
    color: rgb(92, 90, 90);
    transition: border 0.3s ease-in-out;

    &:focus, &:focus-visible {
        outline: none;
    }

    &:hover, &:focus {
        border-color: #003f75;
        transition: border 0.3s ease-in-out;
    }
}

.error {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

    width: fit-content;
    margin: 0 auto;
    color: rgb(204, 59, 59)
}