.main {
    min-width: 140px;
    padding: 5px 10px;
    border: 1px solid #6979d6;
    border-radius: 5px;

    &:focus, &:focus-visible {
        outline: none;
    }
    &:hover {
        cursor: pointer;
    }
}

.secondary {
    background: #fff;
    &:hover {
        background: #e7e7e7;
        border-color: #5361b3;
        transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
    }
}

.primary {
    background: #6979d6;
    color: #fff;
    transition: background 0.3s ease-in-out, border 0.3s ease-in-out;

    &:hover {
        background: #5361b3;
        border-color: #5361b3;
        transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
    }
}